.mainWrapper {
  display: grid;
  grid-template-rows: repeat(3, 33.3%);
  grid-row-gap: .5rem;
  z-index: 1;
}

.buttonLayoutWrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

button {
  border: none;
  isplay: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 7px 1.2rem;
  font-size: 14px;
  border-radius: 4px ;

}
.docButton {
}

.icon {


}