.mainWraper {
  width: 100vw;
  display: flex;
  justify-content: center;
  .manRender {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 2rem;
    justify-items: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .mainWraper {
    min-height: 40vh;
  }
  .manRender {
    width: 90% !important;
  }
}


@media only screen and (min-width: 1100px) {
  .manRender {
    width: 65rem !important;
  }
}
@media only screen and (max-width: 1100px) {
  .manRender {
    width: 100% !important;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(1, 100%) !important;
    grid-template-rows: repeat(2, 100%) !important;
  }
}